#navbar {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  #menu {
    .menu-items {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      width: auto;
      float: left;
      height: 100px;
      padding: 0 15px;

      a:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

#mobile-navbar {
  display: none;
  height: 75px;

  #hamburger-container {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }

    #hamburger {
      width: 35px;
      height: 25px;
      position: relative;
      z-index: 3;

      span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        position: absolute;
        border-radius: 1px;
        transition: all 0.3s;
      }

      #top-line {
        top: 0px;
        transform: rotate(0deg);
      }

      #mid-line {
        visibility: visible;
        top: 10px;
      }

      #bottom-line {
        top: 20px;
        transform: rotate(0deg);
      }
    }
  }

  #mobile-menu {
    width: 300px;
    height: 100vh;
    position: fixed;
    padding-top: 75px;
    top: 0;
    left: -300px;
    transition: all 0.25s;
    overflow: hidden;
    text-align: right;
    background-color: black;
    color: white;
    z-index: 1;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    .mobile-menu-items {
      width: 100%;
      height: 75px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      transition: all 0.2s;
      color: white;

      &:hover {
        color: black;
        background-color: white;
        cursor: pointer;
      }
    }
  }

  #mobile-menu-overlay{
    background-color: rgba(0,0,0,0.1);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

#navbar .navbar-name, #mobile-navbar .navbar-name {
  font-size: 24px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  padding-right: 20px;
  height: 100px;
  display: flex;
  align-items: center;
}

@media only screen and (max-device-width: 800px) {
  #mobile-navbar {
    display: flex;
    height: 75px;

    .navbar-name {
      height: 75px;
    }
  }
  
  #navbar {
    display: none;
  }
  
  #hamburger-menu-container {
    width: 75px;
    display: flex;
  }

}