#jobsite-img {
    background-image: url("../../app/assets/images/indeed-map.png");
}

#bri-img {
    background-image: url("../../app/assets/images/bri-map.png");
	background-position: top left;
}

#nativeg-img {
    background-image: url("../../app/assets/images/nativeg.png");
	background-position: top left;
}