#footer {
	width: 100%;

	#footer-img, #footer-txt {
		width: 40%;
		float: left;
		padding: 0 5%;
		color: white;
		background-color: black;
		height: 300px;
	}

	#footer-img {
		background-image: url("../../app/assets/images/profile_img.jpg");
	    background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	#footer-img {
		height: 300px;
	}

	#footer-icons {
		text-align: right;
		padding-bottom: 20px;

		a {
			color: white;
			font-size: 30px;
			margin-left: 20px;
		}
	}
}

@media only screen and (max-device-width: 800px) {
	
	#footer {
		#footer-img {
			display: block;
			padding: 0;
			width: 100%;
			height: 200px;
		}
		
		#footer-txt {
			width: 90%;
			height: auto;
		}
	}
}




